
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#volume > div {
	font-family: "Roboto", sans-serif;
	position: relative;
	/* background: dodgerblue; */
	border-radius: 50%;
	/* padding: 1.5rem; */
	animation: growAndFade 3s infinite ease-out;
	animation-delay: 1s;
	overflow: hidden;
	outline: 0;
	border: 0;
}
@keyframes ripple {
	to {
		transform: scale(4);
	}
}
@keyframes growAndFade {
	0% {
		opacity: .25;
		transform: scale(0.8);
	}

	100% {
		/* opacity: 0.1; */
		transform: scale(2);
	}
}
