html, body {
	margin: 0;
	/* width: 100vw; */
	height: 100%;
	margin: 0;
	overflow: hidden;
	/* background-color: blue; */
}

#volume > div {
	font-family: "Roboto", sans-serif;
	position: relative;
	border-radius: 50%;
	/* padding: 1.5rem; */
	animation: growAndFade 3s infinite ease-out;
	animation-delay: 1s;
	overflow: hidden;
	/* outline: 0; */
	/* border: 0; */
}

@keyframes growAndFade {
	0% {
		opacity: 0.25;
		transform: scale(0.8);
	}

	100% {
		/* opacity: 0.1; */
		transform: scale(2);
	}
}
